<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Email Test</title>
</head>

<body style="font-family: Arial, sans-serif; background:#f4f4f4; padding:20px;">

<div style="max-width:600px;margin:auto;background:white;padding:30px;border-radius:10px;">

    <h2 style="color:#333;">Spring Boot Email Test 👋</h2>

    <p>
        This email was sent using:
    </p>

    <ul>
        <li>Spring Boot</li>
        <li>JavaMailSender</li>
        <li>Thymeleaf Template</li>
    </ul>

    <p style="font-size:16px; margin-top:20px;">
        <strong th:text="${body}">Email message here</strong>
    </p>

    <hr>

    <p style="font-size:12px;color:gray;">
        Spring Boot HTML Email
    </p>

</div>

</body>
</html>